<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Te ha contactado: <%= @name %></p>
    <p>Mensaje: <%= @message %></p>
    <p>Teléfono de contacto: <%= @phone %></p>
  </body>
</html>