<div class="section-header">
  <div class="text-uppercase font-weight-bold-max display-4 text-center">Formulario de postulación</div>
</div>
<%= render 'form', postulation: @postulation %>

<br>
<%= link_to 'Volver', root_path %>
