<div class="container">
	<div class="row align-items-center justify-content-center text-left">
		<div class="col-lg-5">
			<h1 class="text-uppercase font-weight-bold-max" style="font-size: 100px; margin-bottom: -5px">Somos</h1>
			<h5 class="text-uppercase font-italic font-weight-bold text-yellow mb-5">contigo hacemos equipo</h5>
			<p class="font-weight-light mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus, odio non imperdiet placerat, odio nibh varius tellus, nec condimentum risus lectus ut dolor. </p>
			<button class="btn btn-primary" style="border-radius: 12rem;">Ver más</button>
		</div>
		<div class="col-lg-7">
      <div class="card-deck">
        <% @members.each do |member| %>
          <div class="card">
          <%= image_tag member.image.variant(resize: '500x'), class:'avatar card-img-top align-self-center', style: 'height: 120px; width: 120px; object-fit: cover; border-radius: 50%;' %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= member.name %></h5>
            <p class="card-text"><%= member.summary %></p>
          </div>
          </div>
        <% end %>
      </div>
    </div>
			<%# border-radius: 15px 50px;  %>
		</div>
	</div>
</div>