@import "creative";

.text-yellow{
	color: #DA9425;
	letter-spacing: 10px;
}

.btn {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

button {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}